.ShopNowButn{
    text-transform: uppercase;
    background-color: var(--tertiory);
    border: 0;
    color: var(--white);
    padding: 2vh 8vh;
    font-size: 2vh;
    cursor: pointer;
    transition: all 0.3s;
}
