#Sec2Category{
    background-color: #fbf6e3;
    padding: 8vh 0px;
    width: 100%;
    height: auto;


    h1{
        margin: 0.5vh 0 0 0;
        font-size: 5vh;
        color: #ab8744;
        font-family: "Gotu", sans-serif;

    }
}
#Sec2Category>p{
    margin: 0;
    font-size: 1.8vh;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2vh;
}

#categoryBoxes{
    justify-content: space-between;
    width: 80%;
    margin:5vh auto 0 auto;

}
.CategoryBox{
    height: auto;
    width: 28%;
    div{
        height: 51vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50vh 50vh 0 0;
    }
    p{
        margin: 2vh 0px 0 0;
        text-transform: uppercase;
        font-size: 2.2vh;
        font-weight: 500;
        color: var(--tertiory);
    }
}