#Sec3Product{
    padding: 7vh 0px;
    width: 100%;

}

#tabs{
    margin:3vh auto 10vh 0px;
    gap:0 5vh;
    justify-content: center;
    
}
#tabs>p{
    text-transform: uppercase;
    font-size: 1.8vh;
    /* font-weight: 500; */
    cursor: pointer;
    font-weight: 600;
    margin: 0;
    transition: all 0.3s;
}

.activeTab{
    color: black;
}
.deActiveTab{
    color: #ab874487;
}

#ProductCarousel{
    width: 80%;
    margin: auto;
    justify-content: center;
}

#Sec3Product>p:last-child{
    margin: 10vh auto 0 auto;
    cursor: pointer;
    text-decoration: underline;
    letter-spacing: 0.1vh;
}